<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    <h2>Admin Registration form :</h2>
    <form action="/auth/register-admin" method="POST">
        <div>
            <label>Username : </label>
            <input type="text" name="username" placeholder="username" />
        </div>
        <br />
        <div>
            <label>Email : </label>
            <input type="email" name="email" placeholder="email" />
        </div>
        <br>
        <div>
            <label>Password : </label>
            <input type="password" name="password" placeholder="password" />
        </div>
        <br />
        <div>
            <label>Role : </label>
            <input type="text" name="role" placeholder="role" value="admin">
        </div>
        <br />
        <input type="submit" />
    </form>

</body>

</html>